<div>
  <h4>Search</h4>
  <input #searchTerm>: {{ searchTerm.value }}
  <br><button (click)="updatePage(searchTerm.value)">Update page</button>
  <p class="result"></p>
</div>
<img *ngIf="content?.imgURL" (click)="logId()" [src]="content?.imgURL">
<h2>{{ content?.title}}</h2>
<p class="description">{{ content?.description }}</p>
<div class="meta-data">
  <div class="author-info">
    <span class="creator">{{ content?.creator }}</span>
    <span *ngIf="content?.type" class="type">{{ content?.type }}</span>
  </div>
  <div *ngIf="content?.tags" class="tags">
    <span class="tag" *ngFor="let tag of content?.tags">{{ tag }}</span>
  </div>
</div>
