<!--<form>-->
<div>
  <input #titleSearch>
  <button (click)="checkForTitle(titleSearch.value)">Title Check</button>
  <div>
    <span class="success" *ngIf="titleFound"> {{ titleSearch.value}} found!</span>
    <span class="failure" *ngIf="titleFound === false"> {{ titleSearch.value}} not found!</span>
  </div>
</div>
<!--</form>-->
<app-content-card appHoverAffect affect="border"
                  [content]="singleCard" class="singleCard"></app-content-card>


<!-- No type set -->
<app-content-card appHoverAffect affect="border" [firstOrLast]="isTheFirstElement || isLast"
                  [class.found]="titleSearch.value === item.title"
                  *ngFor="let item of (contentList | findPlatform); first as isTheFirstElement; last as isLast"
                  [content]="item" [class.is-first]="isTheFirstElement" class="no-type"></app-content-card>

<!-- Rookie type set -->
<app-content-card appHoverAffect affect="border" [firstOrLast]="isTheFirstElement || isLast"
                  [class.found]="titleSearch.value === item.title"
                  *ngFor="let item of (contentList | findPlatform: 'PS4'); first as isTheFirstElement; last as isLast"
                  [content]="item" [class.is-first]="isTheFirstElement" class="rookie"></app-content-card>

<!--Champion type set -->
<app-content-card appHoverAffect affect="border" [firstOrLast]="isTheFirstElement || isLast"
                  [class.found]="titleSearch.value === item.title"
                  *ngFor="let item of (contentList | findPlatform: 'PS3'); first as isTheFirstElement; last as isLast"
                  [content]="item" [class.is-first]="isTheFirstElement" [class]="item.type | lowercase"></app-content-card>
