<mat-form-field>
  <div>
    Name: <input matInput #title>
  </div>
  <div>
    Description: <input matInput #description>
  </div>
  <div>
    Creator: <input matInput #creator>
  </div>
  <div>
    Img url: <input matInput #imageUrl>
  </div>
  <div>
    Type: <input matInput #type>
  </div>
  <div>
    Tags: <input matInput #tags>
  </div>
  <div>
    <button mat-raised-button type="reset" (click)="addContent(title.value, description.value, creator.value, imageUrl.value, type.value, tags.value)">
      Add
      Game
    </button>
    <button mat-raised-button type="reset" (click)="openDialog()">
      Add
      NEW
      Game
    </button>
  </div>
</mat-form-field>
